html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* FONTS, COLORS */
body {
    font-family: Roboto, sans-serif;
}

header,
.first-section,
footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.first-section-content > p,
.main-navigation > li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.blue-little-section {
    background-color: #3882F6;
}

.thor-quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.main-navigation a {
    color: #E5E7EB;
    text-decoration: none;
}

/* FLEXBOX */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 52%;
    margin: 0 auto;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
}

.main-navigation li {
    margin-left: 20px;
}

.first-section {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}


/* OTHER STYLE */
.main-navigation {
    list-style-type: none;
}

.first-section-content,
figure {
    width: 25%;
    height: 35%;
}

figure img {
    width: 100%;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.first-section-content button {
    color: #F9FAF8;
    font-size: 16px;
    width: 100px;
    font-weight: bold;
    padding: 5px 20px;
    border-style: none;
    border-radius: 5px;
}

/* DEBUG */