html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* FONTS, COLORS */
body {
    font-family: Roboto, sans-serif;
}

header,
.first-section,
footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.first-section > p,
.main-navigation > li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.blue-little-section {
    background-color: #3882F6;
}

.thor-quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.main-navigation a {
    color: #E5E7EB;
    text-decoration: none;
}

.first-section {
    padding: 50px 70px;
}

/* FLEXBOX */

nav {
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
}

.main-navigation li {
    margin-left: 20px;
}

/* OTHER STYLE */
.main-navigation {
    list-style-type: none;
}


/* DEBUG */

.first-section {
    border: 1px solid red;
}