html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

/* FONTS, COLORS */
body {
    font-family: Roboto, sans-serif;
}

header,
.first-section,
footer {
    background-color: #1F2937;
}

h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

h2 {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

.first-section-content > p,
.main-navigation > li {
    font-size: 18px;
    color: #E5E7EB;
}

.logo-text {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: bold;
}

button,
.blue-little-section {
    background-color: #3882F6;
}

.thor-quote {
    background-color: #E5E7EB;
}

blockquote {
    font-size: 36px;
    font-weight: lighter;
    font-style: italic;
    color: #1F2937;
}

.main-navigation a {
    color: #E5E7EB;
    text-decoration: none;
}


/* FLEXBOX */

nav {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 52%;
    margin: 0 auto;
}

.main-navigation {
    display: flex;
    justify-content: space-around;
}

.main-navigation li {
    margin-left: 20px;
}

.first-section {
    display: flex;
    justify-content: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.random-information {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 40px;
}

.img-container {
    display: flex;
    column-gap: 40px;
}

.first-section-content {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
}

.thor-quote {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}




/* OTHER STYLE */
.main-navigation {
    list-style-type: none;
}

.first-section-content,
figure {
    width: 25%;
    height: 35%;
}

figure img {
    width: 100%;
}

.first-section-content button,
.blue-little-section button {
    color: #F9FAF8;
    font-size: 16px;
    width: 110px;
    font-weight: bold;
    padding: 5px 20px;
    border-style: none;
    border-radius: 5px;
}

.blue-little-section button {
    border: 1px solid white;
}

.img-container figure {
    width: 150px;
    height: 150x;
}

.img-container figure img {
    border-radius: 10px;
}

.random-information h2 {
    margin-top: 40px;
}

blockquote {
    width: 40%;
    margin-top: 5%;
}

.thor-quote > p {
    padding-bottom: 5%;
    margin: 20px 0 0 349px;
}

.blue-little-section {
    display: flex;
    width: 50%;
    margin: 5% auto 5% auto;
    border-radius: 5px;
    padding: 2% 5% 2% 5%;
    justify-content: space-around;
    color: #F9FAF8;
}

footer {
    color: #F9FAF8;
    padding: 2% 0 2% 0;
}

footer p {
    margin: 0 auto;
    text-align: center;
}
/* DEBUG */